page-home {
.toolbar-ios ion-title {
    padding: 0 45px 1px;
    width: 45%;
}
}
.home-collection-header{
	margin: $gutter/2 0 $gutter 0;
}
.home-title{
	margin: 0;
	line-height: 28px;
    font-weight: bold;
}
.main-slider{
	padding: 0;
}